/* NavBar.css */
.navbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #4cab51;
    color: white;
    padding: 10px 20px;
  }
  
  .navbar-brand {
    font-size: 1.5rem;
  }
  
  .navbar-toggle {
    background: none;
    border: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  .navbar-menu {
    display: flex;
    flex-direction: column;
    background-color: #438e62;
    padding: 10px 20px;
  }
  
  .menu-item {
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Alinea el contenido al centro verticalmente */
  }
  
  .menu-logo {
    margin-bottom: 5px; /* Añade espacio entre la imagen y el texto */
  }
  
  .navbar-menu a {
    color: white;
    text-decoration: none;
    padding: 5px 0;
  }
  
  .navbar-menu a:hover {
    color: #000000;
  }
  /* NavBar.css */
.menu-logo {
    max-width: 40px; /* Establece el tamaño máximo de la imagen */
    height: auto; /* Permite que la altura se ajuste automáticamente */
    margin-bottom: 3px; /* Añade espacio entre la imagen y el texto */
  }
  .navbar-logo {
    background-image: url('../SSK_Logo.png');
    /* Otras reglas de estilo */
}
